.main-container {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 5rem;
  height: 100vh;
}
.info {
  margin-top: 7rem;
  font-family: Roboto;
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
  cursor: default;
}
.greet {
  font-size: 5rem;
}
.name {
  color: #ff0000;
}
.innerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5rem;
}
.line {
  display: flex;
  margin-right: 5rem;
  margin-top: 5rem;
}
.line-head {
  background-color: #ff0000;
  width: 23px;
  height: 23px;
  z-index: 999;
  border-radius: 50%;
}
.line-vertical {
  position: absolute;
  background-color: #ff0000;
  width: 5px;
  height: 30vh;
  margin-left: 0.65rem;
  margin-top: 1rem;
  border-radius: 25%;
}
@media screen and (max-width: 1600px) {
}
@media screen and (max-width: 1400px) {
  .innerContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .info {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .greet {
    font-size: 4rem;
  }
  .line-head {
    position: absolute;
    left: 0;
    margin-left: 1rem;
  }
  .line-vertical {
    left: 0;
    margin-top: 1rem;
    margin-left: 1.56rem;
    border-radius: 25%;
  }
}

@media screen and (max-width: 1050px) {
  .innerContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .info {
    margin-top: 1rem;
    font-size: 1.6rem;
  }
  .greet {
    font-size: 3.2rem;
  }
  .line-head {
    position: absolute;
    left: 0;
    margin-left: 1rem;
  }
  .line-vertical {
    left: 0;
    margin-top: 1rem;
    margin-left: 1.56rem;
    border-radius: 25%;
  }
}
@media screen and (max-width: 700px) {
  .innerContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .info {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  .greet {
    font-size: 3rem;
  }
  .line-head {
    position: absolute;
    left: 0;
    margin-left: 1rem;
  }
  .line-vertical {
    left: 0;
    margin-top: 1rem;
    margin-left: 1.56rem;
    border-radius: 25%;
  }
}

@media screen and (max-width: 550px) {
  .innerContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .info {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  .greet {
    font-size: 3rem;
  }
  .canvas {
    margin-top: 1rem;
  }

  .line-head {
    position: absolute;
    left: 0;
    margin-left: 1rem;
  }
  .line-vertical {
    left: 0;
    margin-top: 1rem;
    margin-left: 1.56rem;
    border-radius: 25%;
  }
}
